[Desktop Entry]
Name=${SNAPCRAFT_PROJECT_NAME} (confined desktop kiosk)
Comment=${SNAPCRAFT_PROJECT_NAME} (confined desktop kiosk)
Exec=${SNAPCRAFT_PROJECT_NAME}
Type=Application
